@charset "utf-8";

* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url("../image/xbox-fondo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   text-align: center;
   color: rgb(46, 43, 43);
   font-family:Arial, Helvetica, sans-serif;
	
	
}

.nav {
   background-color: rgb(1, 160, 1);
   width: 1000px;
   height: 180px;
   color: white;
   margin-left: auto;
   margin-right: auto;
}

.nav ul {
   list-style-type: none;
}

.nav li {
   width: 200px;
   float: left;
   line-height: 100px;
}

a {
   text-decoration: none;
   color: rgb(46, 43, 43);
	
}

a:hover{
	color: rgba(33,255,72,1.00);
	font-size: 25px;
}

.wrapper {
   background-color: rgba(145, 145, 145, 0.322);
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 30px;
   box-sizing: border-box;
   
}

.section{
	background-color: rgb(1, 160, 1);
	width: 700px;
	padding: 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	cursor: url("../image/ll.png"), auto;
}

.section img{
	height: 230px;
	width: auto;
}



.section p{
	text-align: justify;
}


h2{
	color: black;
	font-family:  "Bungee Shade";
	font-size: 50px;
}

/*font face permite colocar fuentes de fantasia descargadas 
y el font family es para asignar un nombre y despues utilizarlo en la página*/
@font-face{src: url("../src/Gameplay.ttf"); font-family: videojuego;}


/*sale del flujo normal de la pagina, se va a poner a partir de la ventana del navegador  y se va a mantener fijo*/

#boton{
	position: fixed;
	right: 35px;
	top: 250px;
}


.consola1{
	position: absolute;
	left: 100px;
	bottom: 180px;
}

/*la transicion lienear no tiene flexibilizacion, la velocidad es constante, tambien hay una de rotate, skewx, scale, 
ease-in nos dice que inicia la transformacion lentamente y termina a toda velocidad 
ease-out inicia la transformacion a toda velocidad y termina lentamente
ease-in-out empieza lento, en la mitad va rapido, termina rapido
las transformaciones de rotate y skew se manejan en grados mientras que la de translate en px*/
.consola1:hover{
	transform: translate(100px, 50px);
	transition: ease-in-out 4s;
	
}

.consola2{
	position: absolute;
	right: 100px;
	bottom: -150px;
}

.consola2:hover{
   transform: translateX(150px);
transition: ease-out 4s;
}


.consola3{
    position: absolute;
	left: 100px;
	bottom: -650px;
}

.consola3:hover{
   transform: scale(1.5);
   transition: ease-in 4s;
}


.consola4{
    position: absolute;
	right: 100px;
	bottom: -940px;
}

.consola4:hover{
   transform: rotate(360deg);
   transition: ease-out 4s;
}

.consola5{
    position: absolute;
	left: 100px;
	bottom: -1340px;
}


.consola5:hover{
   transform: skew(90deg);
   transition: ease-in 4s;
}



.footer {
   font-size: 12px;
   background-color: rgba(1, 160, 1);
   height: 40px;
   line-height: 40px;
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}